#lyrics {
  color: white;
  margin-top: 5%;
  width: 70%;
  float: right;
}

#header {
  display: grid;
  grid-template-columns: 50% 50%;
}

pre {
  color: white !important;
  font: inherit !important;
  font-size: 1.2rem !important;
}

#header-left {
  font-size: 1.5rem;
  margin: auto;
  float: left;
}

#header-right {
  font-size: 2rem;
  margin: auto;
  min-width: 200px;
  max-width: 500px;
  padding-right: 20%;
}

.img-fluid {
  max-width: 200px !important;
}

#lyric {
  grid-column-start: 1;
  grid-column-end: -1;
  padding-top: 5%;
  padding-right: 10%;
}